# ignorer results of gene extraction (1_extractionGenes)
1_extractionGenes/results/*
1_extractionGenes/results_gnInfo/*
!1_extractionGenes/results/.gitkeep
!1_extractionGenes/results_gnInfo/.gitkeep

# ignorer results of orthology
2_extractionOrthologyPCG/results/*
!2_extractionOrthologyPCG/results/.gitkeep