# ignore results of gene extraction (1_extractionGenes)
1_extractionGenes/results/*
1_extractionGenes/results_gnInfo/*
!1_extractionGenes/results/.gitkeep
!1_extractionGenes/results_gnInfo/.gitkeep

# ignore results of orthology (2_extractionOrthologyPCG)
2_extractionOrthologyPCG/results/*
!2_extractionOrthologyPCG/results/.gitkeep

# ignore results of synteny (3_synteny)
3_synteny/results_table/*
!3_synteny/results_table/.gitkeep
3_synteny/results_synteny/*
!3_synteny/results_synteny/.gitkeep
3_synteny/results_syntenyMerged/*
!3_synteny/results_syntenyMerged/.gitkeep

# ignore results of FEELnc (4_FEELnc)
4_FEELnc/results/**
4_FEELnc/results_geneLevel/**
4_FEELnc/results_orthoFeelnc/**
4_FEELnc/results_orthoFeelnc_agg/**
4_FEELnc/results_orthoFeelnc_merged/**
!4_FEELnc/**/.gitkeep